/* line 3, /Users/xcoulon/code/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#project-banner-wrapper {
  max-width: 1180px;
}

/* line 7, /Users/xcoulon/code/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#menu-wrapper {
  max-width: 1180px;
}

/* line 11, /Users/xcoulon/code/jbosstools/jbosstools-website/stylesheets/jbt-styles-wide.scss */
#content-wrapper {
  max-width: 1180px;
}
