---
layout: project
title: Issues
bottom_javascripts: ["/javascripts/jira_issues.js", "http://issues.jboss.org/rest/api/latest/project/JBIDE/versions?jsonp-callback=versions"]
---
%h2 JBoss Tools Versions
#versions
  %table
    %thead
      %tr
        %td Name
        %td Release Date
        %td Description
    %tbody

     



  